In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/clean_train.csv')
df.head(3)

,uniqueid,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,current_pincode_id,date_of_birth,disbursal_date,...,new_accts_in_last_six_months,delinquent_accts_in_last_six_months,no_of_inquiries,loan_default,employment_self,employment_none,average_acct_age_months,credit_history_length_months,cns_score_category,cns_score_unreliable
0,420825,50578,58400,89.55,67,22807,45,1441,1984-01-01,2018-08-03,...,0,0,0,0,0,0,0,0,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,1985-07-31,2018-09-26,...,0,1,0,1,1,0,23,23,9,0
2,417566,53278,61360,89.63,67,22807,45,1497,1985-08-24,2018-08-01,...,0,0,0,0,1,0,0,0,0,0

In [3]:
df.isnull().sum()

uniqueid                               0
disbursed_amount                       0
asset_cost                             0
ltv                                    0
branch_id                              0
supplier_id                            0
manufacturer_id                        0
current_pincode_id                     0
date_of_birth                          0
disbursal_date                         0
state_id                               0
employee_code_id                       0
mobileno_avl_flag                      0
aadhar_flag                            0
pan_flag                               0
voterid_flag                           0
driving_flag                           0
passport_flag                          0
perform_cns_score                      0
pri_no_of_accts                        0
pri_active_accts                       0
pri_overdue_accts                      0
pri_current_balance                    0
pri_sanctioned_amount                  0
pri_disbursed_amount                   0
sec_no_of_accts                        0
sec_active_accts                       0
sec_overdue_accts                      0
sec_current_balance                    0
sec_sanctioned_amount                  0
sec_disbursed_amount                   0
primary_instal_amt                     0
sec_instal_amt                         0
new_accts_in_last_six_months           0
delinquent_accts_in_last_six_months    0
no_of_inquiries                        0
loan_default                           0
employment_self                        0
employment_none                        0
average_acct_age_months                0
credit_history_length_months           0
cns_score_category                     0
cns_score_unreliable                   0
dtype: int64

* y = loan_default