In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import BaggingClassifier, StackingClassifier, AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_predict, cross_val_score
from sklearn.pipeline import Pipeline

from sklearn.metrics import (confusion_matrix, ConfusionMatrixDisplay,
    accuracy_score, roc_auc_score, recall_score,
    precision_score, f1_score, RocCurveDisplay)

from sklearn.model_selection import RandomizedSearchCV

In [2]:
df = pd.read_csv('../data/train_resampled.csv')
df.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,current_pincode_id,state_id,employee_code_id,aadhar_flag,...,no_of_inquiries,employment_self,employment_none,age_at_disbursal,average_acct_age_months,credit_history_length_months,cns_score_category,cns_score_unreliable,loan_default,disbursed_amount_treated
0,50578,58400,89.55,67,22807,45,1441,6,1998,1,...,0,0,0,34,0,0,0,0,0,50578.0
1,47145,65550,73.23,67,22807,45,1502,6,1998,1,...,0,1,0,33,23,23,9,0,1,47145.0
2,53278,61360,89.63,67,22807,45,1497,6,1998,1,...,0,1,0,33,0,0,0,0,0,53278.0
3,57513,66113,88.48,67,22807,45,1501,6,1998,1,...,1,1,0,25,8,15,12,0,1,57513.0
4,52378,60300,88.39,67,22807,45,1495,6,1998,1,...,1,1,0,41,0,0,0,0,1,52378.0

### Logistic Regression